.card {
  border-radius: 1px;
  background-color: #fff;
  width: 290px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 20%) 0px 2px 6px 0px;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 60%) 0px 3px 18px 0px;
  }

  .card-img {
    width: 100%;
    height: 200px;
  }

  .card-body {
    padding: 20px 10px 14px 16px;

    .card-title {
      font-family: 'open-sans-semibold';
      color: #0F5EF0;
      font-size: 15px;
      margin-bottom: 18px;
      text-transform: capitalize;
    }

    .card-sub-title {
      font-family: 'open-sans-bold';
      color: #7A8594;
      font-size: 12px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .card-text {
      font-family: 'open-sans-regular';
      color: #7A8594;
      font-size: 12px;
    }
  }
}